.homepage-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 10vw;
  font-weight: 100;
  font-family: "Turret Road", cursive;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: 0.4s;
}

.homepage-header-description {
  font-family: "Turret Road", cursive;
  font-size: 2.23vw;
  font-weight: 500;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: 0.4s;
}
