.homepage-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 10vw;
  font-weight: 100;
  font-family: "Turret Road", cursive;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: 0.4s;
}

.homepage-header-description {
  font-family: "Turret Road", cursive;
  font-size: 2.23vw;
  font-weight: 500;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: 0.4s;
}

a {
  transition: 0.3s;
  color: rgb(219, 206, 206);
  fill: currentColor;
}

a:link,
a:visited,
a:active {
  filter: drop-shadow(3px 3px 3px #000);
  transition: 0.4s;
  position: relative;
}

a:hover {
  transform: translate(0, -10px);
}
