version: "3.3"

services:
  caddy:
    image: caddy:latest
    restart: always

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - $PWD/services/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  site:
    build:
      context: site
      dockerfile: Dockerfile

    restart: always

    environment:
      COLLECTD_DOCKER_APP: site

    depends_on:
      - caddy

    ports:
      - "8001:8001"

  postgres:
    image: "postgres:14-alpine"
    restart: always

    environment:
      COLLECTD_DOCKER_APP: graphite
      POSTGRES_USER: site
      POSTGRES_PASSWORD: site
      POSTGRES_DB: site

    ports:
      - "7777:5432"

    volumes:
      - $PWD/services/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - ./postgres:/var/lib/postgresql/data

  gitea:
    image: "gitea/gitea:latest"
    restart: always

    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: postgres:5432
      GITEA__database__NAME: site
      GITEA__database__USER: site
      GITEA__database__PASSWD: site

    volumes:
      - $PWD/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    ports:
      - "3001:3001"
      - "222:22"

    depends_on:
      - postgres
      - caddy

  grafana:
    image: "grafana/grafana"
    restart: always

    depends_on:
      - caddy

    ports:
      - "3000:3000"

    volumes:
      - grafana-storage:/var/lib/grafana

  prometheus:
    image: "prom/prometheus"
    user: root
    restart: always

    depends_on:
      - grafana

    environment:
      COLLECTD_DOCKER_APP: prometheus

    ports:
      - "9090:9090"

    volumes:
      - $PWD/services/prometheus:/etc/prometheus/:rw
      - $PWD/data/prometheus/prometheus_data:/prometheus:rw

    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"

  graphite:
    image: "graphiteapp/graphite-statsd"
    restart: always

    depends_on:
      - grafana

    environment:
      COLLECTD_DOCKER_APP: graphite

    ports:
      - "8000:80"
      - "2003-2004:2003-2004"
      - "2023-2024:2023-2024"
      - "8125:8125/udp"
      - "8126:8126"

    volumes:
      - graphite-storage:/opt/graphite/storage

    logging:
      driver: none

  container_metrics:
    image: bobrik/collectd-docker
    restart: always

    depends_on:
      - graphite

    environment:
      COLLECTD_INTERVAL: 5
      GRAPHITE_HOST: graphite
      COLLECTD_HOST: xithriuscloud

    labels:
      - collectd_docker_app

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  caddy_data:
    external: true
  caddy_config:
  grafana-storage:
    external: true
  graphite-storage:
