---
import { getCollection } from "astro:content"
import BaseHead from "../../components/BaseHead.astro"
import Footer from "../../components/Footer.astro"
import FormattedDate from "../../components/FormattedDate.astro"
import Header from "../../components/Header.astro"
import { SITE_TITLE } from "../../consts"

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
    <style>
      .post-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .post-list a {
        display: grid;
        grid-template-columns: 12ch 1fr;
        align-items: baseline;
        text-decoration: none;
        transition: color 0.2s ease;
      }
      .post-list .date {
        margin: 0;
        color: rgb(var(--gray));
        font-size: 0.8em;
        font-variant-numeric: tabular-nums;
        white-space: nowrap;
      }
      .post-list .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1.35;
        font-size: 0.8em;
        font-weight: 600;
      }
      .post-list a:hover .title,
      .post-list a:hover .date {
        color: rgb(var(--accent));
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="post-list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`}>
                  <span class="date">
                    <FormattedDate date={post.data.date} />
                  </span>
                  <span class="title">{post.data.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
