---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("archive");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"archive">;
const post = Astro.props;
const { title, archiveReason } = post.data;
---

<PageLayout title={title} description={archiveReason}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={post} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={post} />
    </div>
  </BottomLayout>
</PageLayout>
