@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap");

* {
  transition: 150ms ease-in-out;
}

html,
body {
  background: #c7cde4;
  color: #3b4345;
}

[data-theme="dark"],
[data-theme="dark"] body {
  background: #212627;
  color: #b8c0d3;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Turret Road", "Montserrat";
  }
}
