@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html {
  background-color: #282828;
  scroll-behavior: smooth;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Montserrat", sans-serif;
}

p {
  color: rgb(219, 206, 206);
  transition: 0.4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(219, 206, 206);
  transition: 0.4s ease-in-out;
}

h1:hover {
  color: #ff2e88;
  transition: 0.4s ease-in-out;
}

a:link,
a:visited,
a:hover,
a:active {
  -webkit-text-decoration: #ff2e88 solid underline;
  text-decoration: #ff2e88 solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  color: #ff2e88;
}

li {
  color: rgb(219, 206, 206);
}

code {
  border-radius: 4px;
  background: #353535;
}
