xithrius.cloud {
    reverse_proxy xithriuscloud_site_1:8001
}

grafana.xithrius.cloud {
    reverse_proxy xithriuscloud_grafana_1:3000
}

guides.xithrius.cloud {
    reverse_proxy xithriuscloud_site_guides_1:2000
}

git.xithrius.cloud {
  reverse_proxy xithriuscloud_gitea_1:3001
}
