.dark-mode {
  background-color: #282828;
  color: rgb(219, 206, 206);
  transition: background-color 0.4s ease-in-out;
  width: 100vw;
  height: 100vh;
}

.light-mode {
  background-color: rgb(219, 206, 206);
  color: #282828;
  transition: background-color 0.4s ease-in-out;
  /* height: 100%; */
  width: 100vw;
  height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3d3d3d;
  transition: transform 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(129, 129, 129);
  transition: transform 0.25s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(214, 199, 180);
}

input:checked + .slider::before {
  transform: translate(26px);
  background-color: rgb(192, 161, 161);
}

.light-mode input[type="checkbox"]:focus-visible ~ .slider {
  outline: dashed 2px #282828;
}

.dark-mode input[type="checkbox"]:focus-visible ~ .slider {
  outline: dashed 2px rgb(219, 206, 206);;
}
