---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import { SHOWCASE } from "@consts";

const collection = await getCollection("showcase");

const showcase = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={SHOWCASE.TITLE} description={SHOWCASE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SHOWCASE.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <ul>
      {
        showcase.map((entry) => (
          <li class="animate border-b border-black/10 dark:border-white/25 mt-4 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none">
            <article class="prose dark:prose-invert">
              <entry.Content />
            </article>
          </li>
        ))
      }
    </ul>
  </BottomLayout>
</PageLayout>
